body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: black;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 119, 137);
}
#wrapper{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
header{
    padding-top: 20px;
}